html {
    height: 100%;
}

body {
    background-color: #fee;
    font-family: Arial;
    font-size: 14px;
    background: linear-gradient(0, #fdd, #fee);
    min-height: 100%;
    margin: 20px;
}

#message {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h1, h2 {
    text-align: center;
}

p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

ul {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #b10;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #d20;
}

#clippings {
    max-width: 100%;
}

footer {
    margin-top: 30px;
    font-size: 9px;
    text-align: center;
}

footer a {
    font-weight: normal;
}

@media (min-width: 720px) {
    body {
        margin: 0;
        height: 100%;
        background: radial-gradient(circle at 50% 50%, #fee 0, #fdd 100%);
        font-size: 16px;
    }

    h1 {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 60px;
    }
    
    h2 {
        font-size: 40px;
    }

    #clippings {
        max-width: 80%;
        margin: 0 10%;
    }

    footer {
        font-size: 10px;
    }
}
